*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html{
    width: 100%;
    background-color: #084371;
}

.main{
    font-family: 'Roboto', sans-serif;

    .navbar{
        background: rgb(12,71,120);
        background: linear-gradient(130deg, rgba(12,71,120,1) 0%, rgba(52,113,183,1) 88%, rgba(52,113,183,1) 100%);
        position: fixed !important;
        border-bottom: 2px solid #1B99D4;
        padding: .8rem 0;
        width: 100%;
        z-index: 3;
        img{
            width: 170px;
        }
        .nav-link{
            margin: 0 .5rem;
            &:hover,
            &:focus{
                background-color: #1B99D4;
                outline: none;
            }
        }
        &__connect-btn{
            border-radius: 4px;
            background-color: #1B99D4;
            border: none;
            color: #FFFFFF;
            text-align: center;
            padding: .5rem 1rem;
            transition: all 0.5s;
            cursor: pointer;
            span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
                &:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }
            }
            &:hover,
            &:focus {
                outline: none;
                span {
                    padding-right: 20px;
                    &:after {
                        opacity: 1;
                        right: 0;
                    }
                }
            }
        }
    }
    .carousel{
        .uvt{   
            position: absolute;
            z-index:1;
            bottom:0px;
            margin-bottom: 1rem;
            left:20px;
            width:50%;
            @media screen and (min-width:768px) {
                bottom: 20px;
            }
            
            &__logo{
                background-color: rgb(255, 255, 255);
                border-radius: 50%;

                img{
                    width: 80px;
                    height: 80px;
                }
            }
            &__quote{
                display: flex;
                align-items: center;
                color: white;
                margin-left: 20px;
                font-size: clamp(1.4rem, 2.4vw, 3rem); 
            }
        }
        .carousel-inner{
            .carousel-item{
                img{
                    height: 40vh;
                    object-fit:cover;
                    @media screen and (min-width: 768px) {
                        height: 60vh;
                    }
                    @media screen and (min-width:992px) {
                        height: 100vh;
                    }
                }
            }
        }
    }

    .benefit{
        &__header{
            padding-top: 2rem;
            text-align: center;
            h1,
            h2{
                font-weight: bold;
            }
        }
        &__title{
            font-size: 23px;
            @media screen and (min-width:992px) {
                font-size: 25px;
            }
        }
        &__subtitle{
            font-size: 15px;
            @media screen and (min-width:992px) {
                font-size: 18px;
            }
        }
        &__container{
            margin: 1rem;
            &__item{
                display: flex;
                justify-content: center;
                margin: 1.5rem 0;
                outline: none;

                .card{
                    background-image: url(/images/card-bg.jpeg);
                    cursor: pointer;
                    background-size: cover;
                    background-repeat: no-repeat;
                    color: white;
                    padding: 1rem 2.5rem;
                    min-width: 450px;
                    width: 450px;
                    transition: .3s;
                    &:hover{
                        -ms-transform: scale(1.1); /* IE 9 */
                        -webkit-transform: scale(1.1); /* Safari 3-8 */
                        transform: scale(1.1); 
                    }
                    @media screen  and (max-width: 500px) {
                        max-width: 100%;
                        width: 100%;
                        min-width: 0;
                    }
                    @media screen and (min-width:1200px) {
                        max-width: 100%;
                        min-width: 370px;
                        }
                    &__icon{
                        text-align: center;
                        font-size: 50px;
                        color: #FBB900;
                        margin: 2rem 0;
                    }
                    &__title{
                        text-align: center;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .instruments{
        @media screen and (min-width:992px) {
            padding: 0 10rem;
        }
        &__title{
            font-weight: bold;
            font-size: 23px;
            text-align: center;
            @media screen and (min-width:992px) {
                font-size: 25px;
            }
        }
        &__subtitle{
            font-size: 15px;
            text-align: center;
            padding: 0 1rem;
        }
        &__container{
            margin: 0 3rem;
            @media screen and (min-width:992px) {
                margin: 0 7.5rem;
            }
            padding-bottom: 6rem;
            padding-top: .5rem;
            &__item{
                position: relative;
                text-align: center;
                cursor: pointer;
                height: 185px;
                color: #084371;
                border-radius: 15px;
                margin: 2rem 0;
                transition: .7s;
                &__card{
                    position: relative;
                    height: 150px;
                    max-width: 350px;
                    padding: 0 1rem;
                    border-radius: 10px;
                    bottom: -2rem;
                    transition: position 0.5s, bottom 0.5s;
                    transition: 1s;
                }
                &__icon,
                p{
                    position: relative;
                    bottom: -3rem;
                    transition: position 0.5s, bottom 0.5s;
                    transition: 1s;
                }
                &:hover {
                    font-size: 17px;
                    .instruments__container__item__card{
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                        bottom: 1.2rem;
                    }
                    .icon,
                    p{
                        bottom: -1.5rem;
                        color: #3471B7;
                    }
                }
                &__icon{
                    font-size: 50px;
                    color: #084371;
                    transition: .5s;
                }
                &__text{
                    margin: .7rem 0 0 0;
                }
            }
        }
    }

    .footer{
        background-color: #084371;
        color: white;
        padding-top: 2rem;
        &__container{
            > div{
                margin-bottom: 1.5rem;
            }
            &__title{
                font-size: 18px;
                font-weight: bold;
            }
            &__address{
                address{
                    max-width: 250px;
                }
            }
            &__download{
                img{
                    max-width: 150px;
                    margin: .5rem 0;
                    @media screen and (min-width:1200px) {
                        &:nth-of-type(2){
                            margin: 0 1rem;
                        }
                    }
                }
            }
            &__terms{
                &__link{
                    text-decoration: none;
                    color: white;
                    outline: none;
                    &:hover,
                    &:focus{
                        text-decoration: underline;
                    }
                }
            }
            &__status{
                a {
                    position: relative;
                    z-index: 1;
                    color: white;
                    outline: none;
                    text-decoration: none;
                    &::before {
                        content: '';
                        position: absolute;
                        z-index: -1;
                        width: 0;
                        left: -3px;
                        height: 25px;
                        background-color: #3471B7;
                        transition: .5s;
                    }
                    &:hover,
                    &:focus {
                        &::before {
                            width: 110%;
                        }
                    }
                }
            }
            &__logo{
                img{
                    max-width: 200px;
                }
            }
            &__copyright{
                img{
                    max-width: 100px;
                }
            }
            &__social{
                a{
                    position: relative;
                    outline: none;
                    text-decoration: none;
                    color: white;
                    font-size: 21px;
                    margin: 0 .5rem;
                    i{
                        position: relative;
                        bottom: 0;
                        transition: bottom .3s;
                    }
                    &:hover,
                    &:focus{
                        i{
                            bottom: 1rem;
                        }
                    }
                }
            }
        }
    }
}  

  nav {
      position: fixed;
      z-index: 9999;
      top: 0;
      left: 0;
      height: 70px;
      width: 100%;
      display: flex;
      align-items: center;
      background: rgb(12,71,120);
      background: linear-gradient(130deg, rgba(12,71,120,1) 0%, rgba(52,113,183,1) 88%, rgba(52,113,183,1) 100%);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
      color: white;
      .logo {
          display: flex;
          align-items: center;
          margin: 0 24px;
      }
      .sidebar {
          position: fixed;
          top: 0;
          left: -100%;
          height: 100%;
          width: 260px;
          padding: 20px 0;
          background-color: #3471B7;
          box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
          transition: all 0.4s ease;
      }
  }
  .logo {
      .menu-icon {
          color: var(--text-color);;
          font-size: 24px;
          margin-right: 14px;
          cursor: pointer;
      }
      .logo-name {
          color: var(--text-color);;
          font-size: 22px;
          font-weight: 500;
      }
  }
  nav.open {
      .sidebar {
          left: 0;
      }
      ~ {
          .overlay {
              opacity: 1;
              left: 260px;
              pointer-events: auto;
          }
      }
  }
  .sidebar {
      .sidebar-content {
          display: flex;
          height: 100%;
          flex-direction: column;
          justify-content: space-between;
          padding: 30px 16px;
      }
  }
  .sidebar-content {
      .list {
      list-style: none;
      
          .nav-link {
        display: flex;
        align-items: center;
        margin: 8px 0;
        padding: 14px 12px;
        border-radius: 8px;
        text-decoration: none;
        transition: var(--tran-02);
        &:hover {
          background-color: var(--primary-color);
          .icon {
            color: #fff;
          }
          .link {
            color: #fff;
          }
        }
  
        .icon {
          margin-right: 14px;
          font-size: 20px;
          color: var(--text-color);
        }
        .link {
          font-size: 16px;
          color: var(--text-color);
          font-weight: 400;
        }
      }
    }
    .mode {
      display: flex;
      align-items: center;
      margin-top: 10px;
      border-radius: 6px;
      background-color: var(--primary-color-light);
      position: relative;
      transition: var(--tran-05);
      list-style: none;
  
      .text {
        color: var(--text-color);
        transition: var(--tran-03);
      }
      .sun-moon {
        height: 50px;
        width: 45px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        i {
          position: absolute;
          color: var(--text-color);
          transition: var(--tran-03);
  
          &.sun {
            opacity: 0;
          }
        }
      }
      .toggle-switch {
        position: absolute;
        right: 0;
        height: 100%;
        min-width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        cursor: pointer;
      }
  
      .toggle-switch .switch {
        position: relative;
        height: 22px;
        width: 40px;
        border-radius: 25px;
        background-color: #084371;
        transition: var(--tran-05);
      }
  
      .switch::before {
        content: "";
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        background-color: white;
        transition: var(--tran-04);
      }
    }
  }
  
  .overlay {
      position: fixed;
      top: 0;
      left: -100%;
      height: 1000vh;
      width: 200%;
      opacity: 0;
      pointer-events: none;
      transition: all 0.4s ease;
      background: rgba(0, 0, 0, 0.3);
  }
  
  body.dark {
    .mode {
      .sun-moon i {
        &.sun {
          opacity: 1;
        }
  
        &.moon {
          opacity: 0;
        }
      }
    }
    .switch {   
      &::before {
        left: 20px !important;
      }
    }
  }