$body-color:#FFFFFF;
$body-color-dark: #0E497B;

$sidebar-color: #3471B7;
$sidebar-color-dark: #0E497B;

$primary-color: #5990cf;
$primary-color-dark: #1c518ddb;

$primary-color-light:#f6f5ff;

$navbar-color: linear-gradient(130deg, rgba(12,71,120,1) 0%, rgba(52,113,183,1) 88%, rgba(52,113,183,1) 100%);

$toggle-color: #ddd;

$text-color:#FFFFFF;

$tran-02: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.4s ease;
$tran-05: all 0.5s ease;